@media screen and (min-width: $break-point) {
  .post-toc, .archive-toc {
    max-height: 100%;
    height: 100%;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fafaf9;
    width: $aside-width;
  }
}


.columns {
  display: table;

  .separator {
    width: 20px;
    height: 300px;
    display: table-cell;
  }

  .column {
    width: 40%;
    height: 300px;
    display: table-cell;

    a {
      color: black;
    }

    div {
      margin-top: 20px;
      text-align: center;
    }

    img {
      border: 1px solid #f7f7f7;
      height: 200px;
      width: 100%;
      object-fit: scale-down;
      margin: 0;
      box-shadow: 5px 5px 5px  #d2d1d1;
      border-radius: 50px;
    }

    .introduction {
      text-align: left;
      font-size: 12px;
      a{
        font-size: 14px;
      }
    }
  }
}

