.page-pv {
  margin-left: 20px;
  color: #888;
}

.category-user {
  margin-left: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

p {
  margin: 0 0 20px;
}

code {
  background-color: rgba(0, 0, 0, .04);
  border-radius: 4px;
  color: #676a6c;
  font-size: 90%;
}

pre {
  display: block;
  margin: 0 0 10px;
  font-size: 14px;
  line-height: 2em;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

blockquote {
  margin: 20px 0 30px;
  font-size: 16px;
  border-left: 5px solid #D6DBDF;
  background-color: whitesmoke;
  padding: 0 0 0 15px;
}

.image-source-comment {
  min-height: 22px;
  text-align: center;
  margin: 0 auto;
  font-size: 14px;
  color: #969696;
}

.highlighter-rouge {
  margin-bottom: 20px;
}

table {
  width: 100%;
  border: 1px solid #d0d0d0;
  margin-bottom: 1.5em;
  border-collapse: collapse;
  border-spacing: 0;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

th {
  background-color: #f7f7f7;
  border-right: 1px solid #d0d0d0;
  text-align: center;
  padding: 5px;
}

tr {
  border-bottom: 1px solid #d0d0d0;
}

tr:nth-child(even) {
  background-color: #f7f7f7;
}

td {
  padding: 7px;
  border-right: 1px solid #d0d0d0;
  line-height: 1.75;
  vertical-align: inherit;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.read-more {
  margin-top: 20px;
  margin-right: 5px;
  margin-bottom: 1em;
  text-align: right;

  a {
    color: #333;
  }
}

.edition-claim {
  font-size: 0.9em;
}

p img {
  border: 0;
  display: block;
  margin: auto auto 20px;
  -ms-interpolation-mode: bicubic;
  //box-shadow: 1px 1px 5px 1px #ccc;
  //-webkit-box-shadow: 1px 1px 5px 1px #ccc;
  //-moz-box-shadow: 1px 1px 5px 1px #ccc;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

.personal-wechat-qr-code, .public-wechat-qr-code {
  width: 220px;
  height: 220px;
  margin-left: -5px;
  display: none;
  background-size: 100% auto;
  background-repeat: no-repeat;
}


.personal-qr-code {
  margin-left: -5px;
  display: none;
  width: 220px;
  height: 220px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-image: url('/assets/images/qr-code-sj.jpg');
}


.personal-receipt-qr-code {
  margin-left: -5px;
  display: none;
  width: 220px;
  height: 382px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-image: url('/assets/images/qr-code-receipt-vertical.png');
}

.categories {
  margin-top: 20px;

  .category {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;
  }

  .selected {
    background-color: #3385FF;
    color: #fff;
  }
}

.header-sjyuan {
  width: 200px;
  height: 200px;
  margin: 10px auto;
  display: none;

  img {
    border-radius: 50%
  }
}


.archive-content {
  padding: 1em 1em;
}

.junit5-versions {
  line-height: 10px;
  font-size: 14px;

  ul {
    font-size: 14px;
    padding: 0;
    list-style: none;

    li {
      padding-bottom: 5px;
    }
  }

  a {
    text-decoration: none;
  }

  a:hover {
    color: #160da5;
  }
}

.comment-container {
  width: 100%;
  min-height: 300px;
}


@media only screen and (min-width: 420px) {
  .personal-receipt-qr-code {
    background-image: url('/assets/images/qr-code-receipt-horizontal.png');
    width: 395px;
    height: 220px;
  }
  .header-icons {
    isplay: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    a {
      border: none !important;
    }

    .icon:hover {
      color: #000000;
      background-color: #fff;
    }

    .icon {
      width: 40px;
      height: 40px;
      font-size: 30px;
      line-height: 30px;
      padding: 10px;
      border-radius: 50%;
      margin: auto;
      border: 1px solid #fff;
      color: #fff;
      text-align: center;
    }

    .fa {
      display: inline-block;
      font: 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}

@media screen and (min-width: $md-break-point) {
  .author-header {
    display: none;
  }
}

@media screen and (min-width: $break-point) {
  .title, .separator {
    margin-left: 40px;
    margin-right: 20px;
  }
  .content {
    margin-top: 20px;
    margin-right: 20px;
  }
}

