.search {
  //display: none;
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 9999;
  img {
    height: 50px;
    width: 50px;
    margin-bottom: -10px;
    margin-right: -5px;
  }
}

.search-form {
  margin-top: 10px;
}

.search-result {
  h3 {
    margin-bottom: 0;
    color: #1E0FBE;
  }
  p {
    font-size: 12px;
    margin-top: 5px;
  }
}

.search-result .search-link {
  color: #006621;
}

.close-search {
  position: fixed;
  top: 16px;
  right: 16px;
  z-index: 9999;
  img {
    height: 22px;
    width: 22px;
  }
}

.search-tool{
  position: fixed;
  top: 0px ;
  bottom: 0px;
  left: 0px;
  right:  0px;
  opacity: 0.95;
  background-color: #111111;
  z-index: 9999;
  display: none;
}

.form-control {
  background: #FFF none;
  border: 1px solid #e5e6e7;
  border-radius: 1px;
  color: inherit;
  display: block;
  padding: 6px 12px;
  transition: border-color .15s ease-in-out 0s, box-shadow .15s ease-in-out 0s;
  font-size: 14px;
}

.form-control:focus {
  border-color: #3385FF !important;
}

.form-control, .form-control:focus, .has-error .form-control:focus, .has-success .form-control:focus, .has-warning .form-control:focus, .navbar-collapse, .navbar-form, .navbar-form-custom .form-control:focus, .navbar-form-custom .form-control:hover, .panel {
  box-shadow: none;
}

@media screen and (min-width: 768px) {
  .dropdown-menu {
    float: none;
    font-size: 20px;
    width: 70%;
    margin: 0 15%
  }

  .search-tool ul {
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
  }

  .search-content {
    position: fixed;
    top: 60px;
    width: 70%;
    margin: 0 15%;
    position: absolute;
    top: 13%;
    left: auto;
    right: auto;
    font-size: 22px;
    height: 50px;
    background-color: #eee;
    color: black;
    opacity: 1.0
  }
}

@media screen and (max-width: 767px) {
  .dropdown-menu {
    float: none;
    font-size: 20px;
    width: 96%;
    margin: 0 2%
  }

  .search-tool ul {
    width: 96%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
  }

  .search-content {
    width: 96%;
    margin: 0 2%;
    position: absolute;
    top: 10%;
    left: auto;
    right: auto;
    font-size: 22px;
    height: 50px;
    background-color: #eee;
    color: black;
    opacity: 1.0
  }
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #337ab7;
    outline: 0;
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

