@media screen and (min-width: $break-point) {
  .post-toc, .archive-toc {
    max-height: 100%;
    height: 100%;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fafaf9;
    width: $aside-width;
  }
}

.post-toc, .archive-toc{
  display: none;
}

#markdown-toc {
  font-size: 15px;
  list-style: none;
  margin-left: -35px;
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  a:hover {
    color: #a58b0c;
  }
}

.archive-toc {
  ul{
    line-height:20px;
  }
}

.archive-toc-top {
  padding: 1em 1em;
  padding-left: 20px;
  font-size: 14px;
  a {
    text-decoration: none;
  }
  a:hover {
    color: #a58b0c;
  }
  #selected {
    color: #a53848;
  }
}

.post-toc, .archive-toc {
  font-size: 15px;
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  a:hover {
    color: #a59816;
  }
}

#selected {
  color: #a59816;
  border-left: 3px #a59816 solid;
  padding-left: 3px;
  margin-left: -6px;
}

#unselected {
  color: #2156a5;
}

