---
bg: "home"
layout: default
title: "敏捷人生"
# summary: "敏捷人生"
---

{% for post in site.posts%}
{% if post.isTop %}
<article class="index-page">
  <h1><a href="{{ post.url }}">[置顶] {{ post.title }}</a></h1>
  {% include tags.html tags = post.tags %}
  <div class="post-meta">
    <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: "%Y-%m-%d" }}</time>
    {% if post.author %}
    &nbsp;/&nbsp;
    <span>{{ post.author }}</span>
    {% endif %}
  </div>
  {% if post.brief %}
  <p>{{ post.brief }}</p>
  {% else %}
  <div>
    {% if post.content contains '<!--brief-->' %}
    {% assign parts = post.content | split:'<!--brief-->' %}
    {{ parts[1] }}
    {% else %}
    {{ post.content | strip_html | strip_newlines | truncate: 200 }}
    {% endif %}
  </div>
  {% endif %}
  <div>
    <a href="{{ site.baseurl }}{{ post.url }}">阅读全文</a>
  </div>

  <!--  <div class="read-more"><a class="read-more" href="{{ site.url }}{{ post.url }}"> 继续阅读 →</a></div>-->
  <hr>
</article>
{% endif %}
{% endfor %}



{% for post in site.posts limit: 200 %}
{% if  post.isTop %}
{% else %}
<article class="index-page">
  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  {% include tags.html tags = post.tags %}
  <div class="post-meta">
    <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: "%Y-%m-%d" }}</time>
    {% if post.author %}
    &nbsp;/&nbsp;
    <span>{{ post.author }}</span>
    {% endif %}
  </div>
  {% if post.brief %}
  <p>{{ post.brief }}</p>
  {% else %}
  <div>
    {% if post.content contains '<!--brief-->' %}
    {% assign parts = post.content | split:'<!--brief-->' %}
    {{ parts[1] }}
    {% else %}
    {{ post.content | strip_html | strip_newlines | truncate: 200 }}
    {% endif %}
  </div>
  {% endif %}
  <div>
    <a href="{{ site.baseurl }}{{ post.url }}">阅读全文</a>
  </div>

<!--  <div class="read-more"><a class="read-more" href="{{ site.url }}{{ post.url }}"> 继续阅读 →</a></div>-->
  <hr>
</article>
{% endif %}
{% endfor %}

