<aside class="sidebar sidebar-{{page.bg}}" role="note">
  <div class="cover">
    <div class="cover-text">
      <div class="heading">
        <!--{{ page.title }}-->

        {% if page.tags %}
        <a href="{{ site.url }}{{ page.url }}">{{ page.title }}</a>
        <hr>
        {% for tag in page.tags %}
        <div class="tag"><a href="/archives/#{{ tag | downcase }}">{{ tag }}</a></div>
        {% endfor %}
        {% else %}
        <a href="{{ site.url }}{{ page.permalink }}">{{ page.title }}</a>
        {% endif %}

      </div>

      {% if page.summary %}
      <hr>
      <p>
        {{ page.summary }}
      </p>
      {% endif %}
      <div class="height-80"></div>
      <div class="header-icons">
        <a aria-label="My Home Page" href="{{ site.url }}"><i class="icon fa fa-home" aria-hidden="true"></i></a>
        <a aria-label="My JianShu" target="_blank" href="{{site.author.jianshu}}"><i
          class="icon fa"><b>简</b></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/{{site.author.github_username}}"><i
          class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>

  <div id="switcher"></div>
</aside>
