<p>
  欢迎找我交流，<a href="mailto:sjyuan@thoughtworks.com" target="_top">邮箱</a>
  |
  <a class="personal-wechat" onmouseenter="showQRCode('personal-qr-code')"
     onmouseleave="hideQRCode('personal-qr-code')"
     onmouseover="showQRCode('personal-qr-code')" href="javascript:void(0);">微信</a>
<div class="personal-qr-code" id="personal-qr-code"></div>
</p>

<blockquote>
  <p>
    <a href="https://www.thoughtworks.com/cn/">ThoughtWorks</a> 常年招聘DEV、UX、PM、BA、QA等角色，如果你对ThoughtWorks心动了，快来找我内推吧
  </p>


</blockquote>
