<span style="display:inline-block;width:83px;"><a style="float:left;text-decoration:none;" target="_blank"
                                                  href="https://www.banquanyin.com/u/101704060005674"><img
  src="https://s1.banquanyin.com/c/icon-yin-24.png" title="更多授权" style="width:inherit;"></a><a target="_blank"
                                                                                               href="https://101704060005674.bqy.mobi"><img
  src="https://s1.banquanyin.com/c/icon-auth-cr-24.png" title="获取授权" style="width:inherit;"></a></span>
