<link rel="stylesheet" href="{{ '/assets/css/main.css' | prepend: site.baseurl }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--github, tomorrow, tomorrow-night-bright, kimbie.light-->
<!--<link rel="stylesheet" type="text/css"-->
<!--href="https://cdn.bootcss.com/highlight.js/9.2.0/styles/kimbie.light.min.css"/>-->


<script
src="https://code.jquery.com/jquery-2.2.4.min.js"
integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js" crossorigin="anonymous"></script>


<script>hljs.initHighlightingOnLoad();</script>

<!-- Main scripts -->
<script src="{{ '/assets/js/main.min.js' | prepend: site.baseurl }}"></script>

