<footer class="blog-footer content-wrapper">
  <p>&copy; <span class="full-year"></span> <a href="{{ site.url }}">sjyuan.cc</a><span class="footer-link-larger"> • </span>
    <a class="footer-link-larger" href="https://github.com/sjyuan-cc/">GitHub</a><span class="footer-link-larger"> • </span>
    <a href="{{ site.url }}/insight/">Insight</a><span> • </span>
    <a href="{{ site.url }}/troubleshoots">Troubleshoot</a><span class="footer-link-larger"> • </span>
    <a class="footer-link-larger" href="{{ site.url }}/feed.xml">RSS</a></p>
</footer>
<script src="{{ site.baseurl }}/assets/js/scripts.js"></script>
