<footer class="blog-footer content-wrapper">
  <p>&copy; <span class="full-year"></span> <a href="{{ site.url }}">Yuan Shenjian</a> • <a target="_blank" href="{{site.author.jianshu}}">简书</a>
    <span
      class="footer-link-larger"> • </span>
    <a class="footer-link-larger" target="_blank" href="https://github.com/{{site.author.github_username}}">GitHub</a><span
      class="footer-link-larger"> • </span>
    <a class="footer-link-larger" target="_blank" href="{{ site.url }}/feed.xml">RSS</a></p>
</footer>
<script src="{{ site.baseurl }}/assets/js/scripts.js"></script>
