<header class="main-header content-wrapper">

  <input type="checkbox" id="menu-checkbox" />

  <nav class="center-wrapper nav-main">

    <a class="blog-logo" href="{{ site.baseurl }}/">{{ site.title }}</a>

    {% for page in site.pages %}
      {% if page.active %}
        <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
      {% endif %}
    {% endfor %}

    <!--<a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>-->

    <label for="menu-checkbox" class="toggle-button" data-open="☰" data-close="☰" onclick></label>
  </nav>

  {% include css_js_source.html %}

</header>
