---
layout: default
---

<article class="post">

  <h1 class="post-title">{{ page.title }}</h1>

  <p class="post-meta">
    <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%Y-%m-%d" }}</time>

    {% if page.author %}
      &nbsp;/&nbsp;
      <span>{{ page.author }}</span>
    {% endif %}
  </p>

  <div class="post-content">

    {{ content }}

    <hr/>
    <div class="edition-claim">
      Posted by {{ site.author.name }} • {{ page.date | date: "%B " }}
      {% assign d = page.date | date: "%-d" %}{% case d %}{% when '1' or '21' or '31 %}{{ d }}st{%
      when '2' or '22'
      %}{{ d }}nd{% when '3' or '23' %}{{ d }}rd{% else %}{{ d }}th{% endcase %},
      {{ page.date | date: "%Y" }} • <a href="https://thoughtworks.com/">ThoughtWorks®</a>
      <p>
        <b>版权声明：</b>自由转载•非商用•非衍生•保持署名 | <a
        href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.zh">Creative
        Commons
        BY-NC-ND 3.0</a>
      </p>
      </p>
      <div>原文链接：<a href="{{ page.url }}">{{ site.url}}{{ page.url }}</a></div>
      <div>
        <a class="personal-wechat" onmouseenter="showQRCode('personal-receipt-qr-code')"
           onmouseleave="hideQRCode('personal-receipt-qr-code')"
           onmouseover="showQRCode('personal-receipt-qr-code')" href="javascript:void(0);">支持原创</a>
        <div class="personal-receipt-qr-code" id="personal-receipt-qr-code"></div>
      </div>
    </div>

    <div>
      {% include ban_quan_yin.html %}
    </div>

    <div class="height-50"></div>
    <div class="row">
      <div class="col-lg-12">
        {% include share.html %}
        <br>
        {% include comments.html %}
      </div>
    </div>

    <div class="post-links">
      {% if page.next.url %}
      <a class="link-to-post" href="{{ page.next.url }}">
        <span class="link-to-post__next">&#10535; &nbsp;Next post</span>
        <span class="link-to-post__title">{{ page.next.title }}</span>
      </a>
      {% endif %}

      {% if page.previous.url %}
      <a class="link-to-post" href="{{ page.previous.url }}">
        <span class="link-to-post__prev">&#10535; &nbsp;Previous post</span>
        <span class="link-to-post__title">{{ page.previous.title }}</span>
      </a>
      {% endif %}
    </div>
  </div>
  <div class="post-toc">
    <div class="title"><h4><a href="{{ page.url }}">{{ page.title }}</a></h4></div>
    <div class="content"></div>
  </div>
</article>


